
.triggerEditor {
    display: flex;
    flex-direction: column;

    height: 450px;

    background-color: #eee;
}

.statementsInput {
    flex: 1;

    width: initial !important;
    height: initial !important;

    border-top: 1px solid #ddd;
}
