@import 'util/context-menu.css';
@import 'sidebars/sidebars.css';
@import 'toolbar.css';
@import 'status-bar.css';

html, body {
    height: 100%;

    overflow: hidden;

    /* Элемент с mix-blend-mode в WebKit вызывает глитчи в интерфейсе, на местах, где нет background */
    /* Просто указываем явно белый цвет фона */
    background: white;
}

.page-root {
    display: flex;

    width: 100%;
    height: 100%;
}

.main-area-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    flex: 1;

    overflow: hidden;
    outline: none;
}

.main-area-overlay {
    position: absolute;

    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    z-index: 110000;
    pointer-events: none;
}

.main-area-overlay * {
    pointer-events: none !important;
}

.main-area-panels {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;
}

.map-scroll-container {
    display: flex;
    justify-content: stretch;
    align-items: stretch;

    flex: 1;

    background-color: #ddd;

    overflow: hidden;
}

.map-scroll {
    background-attachment: local;
    overflow: hidden;
    outline: none;
}

.map-container {
    padding: 300px;
    width: fit-content;
}

.map {
    position: relative;
}

.map.scroll-mode {
    cursor: grab;
}

.map-border {
    position: absolute;

    width: 100%;
    height: 100%;
    left: -2px;
    top: -2px;

    border-width: 2px;
    border-style: ridge groove groove ridge;
    border-color: yellowgreen;

    box-sizing: content-box;
    z-index: 110000;
    pointer-events: none;
}

.map-scroll-overlay {
    position: absolute;

    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    z-index: 100000;
    mix-blend-mode: color;
    pointer-events: none;
}

.map:not(.terrain-layer-active) {
    background-image: none !important;
}

.map-node {
    position: absolute;
}

.map-node.selected {

}

.map-node.hidden {
    visibility: hidden;
}

.map-node.highlight {
    filter: drop-shadow(0px 0px 1px var(--highlight-color));
    z-index: 100000 !important;
    animation: 2s highlight infinite;
}

/*noinspection ALL*/
@property --highlight-color {
    syntax: '<color>';
    initial-value: #000;
    inherits: false;
}

@keyframes highlight {
    0% {--highlight-color: white}
    20% {--highlight-color: red}
    40% {--highlight-color: green}
    60% {--highlight-color: blue}
    80% {--highlight-color: black}
    100% {--highlight-color: white}
}

.map-node .selection-box {
    position: absolute;
}

.map.select-mode .map-node .selection-box:hover {
    border: 1px solid white;
}

.map.select-mode .map-node.selected .selection-box {
    border: 1px solid black;
    z-index: 100000 !important;
    cursor: all-scroll;
}

.map-node .mesh {
    position: absolute;

    pointer-events: none;
}

.map-node.marker-map-node {
    pointer-events: none;
}

.map-node > .marker-mesh {
    position: absolute;
    border-radius: 50%;
}

.map-node > .marker-mesh > i {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;

    font-size: 20px;

    border-radius: 50%;

    transform: translate(-50%, -50%);

    pointer-events: none;
}

.map-node.marker-map-node > .selection-box {
    pointer-events: auto;
}

/* Общие стили для mesh */
.map-node > .marker-mesh {
    color: black;
    background-color: white;
    border: 2px solid black;
}

.map-node > .area-mesh {
    --color1: rgba(255, 192, 0, 0.1);
    --color2: rgba(255, 192, 0, 0.1);
    --width: 15px;
    background: repeating-linear-gradient(
            -45deg,
            var(--color1),
            var(--color1) var(--width),
            var(--color2) var(--width),
            var(--color2) calc(var(--width) * 2));
    border: 2px solid orange;
}

.map-node > .name-mesh,
.map-node > .icon-name-mesh {
    border: none;
    background: none;

    font-weight: 500;
    text-shadow: 0 0 4px white;
}

.map-node > .name-mesh {
    font-size: 16px;

    transform: translate(-50%, -50%);
}

.map-node > .icon-name-mesh {
    font-size: 12px;

    transform: translate(-50%, calc(-50% + 18px));
}

/* Используется в отображении Obstacle64/96/256 */
.map-node.landmark > .icon-mesh {

}

.map-node.landmark > .area-mesh {
    --color1: rgba(255, 64, 0, 0.1);
    --color2: rgba(255, 64, 0, 0.2);
    border: 2px solid darkred;
}

/* Используется в отображении Structure16/24/48/96 */
.map-node.structure > .icon-mesh {

}

.map-node.structure > .area-mesh {
    --color1: rgba(192, 192, 192, 0.25);
    --color2: rgba(192, 192, 192, 0.5);
    border: 2px solid gray;
}

/* Используется в отображении NoBuild64/128/256 и ForceField/ForceFieldSmall */
.map-node.building > .icon-mesh {

}

.map-node.building > .area-mesh {
    --color1: rgba(255, 192, 0, 0.15);
    --color2: rgba(255, 192, 0, 0.4);
    border: 2px solid orange;
}

/* Используется в отображении waypoint */
.map-node.waypoint > .icon-mesh {
    color: white;
    background-color: red;
    border: 2px solid black;
}

.map-node.waypoint > .area-mesh {
    background-color: rgba(255, 192, 0, 0.1);
    border: 2px solid orange;
}

/* Используется в отображении Reveal200 */
.map-node.magic > .icon-mesh {
    color: white;
    background-color: purple;
    border: 1px solid black;
}

.map-node.magic > .area-mesh {
    background-color: rgba(0, 153, 255, 0.1);
    border: 2px solid mediumpurple;
}

/* Используется в отображении ambient */
.map-node.ambient > .icon-mesh {
    color: white;
    background-color: dodgerblue;
    border: 1px solid black;
}

.map-node.ambient > .area-mesh {

}



.map:not(.landmark-layer-active) .map-node.landmark,
.map:not(.structure-layer-active) .map-node.structure,
.map:not(.building-layer-active) .map-node.building,
.map:not(.unit-layer-active) .map-node.unit,
.map:not(.item-layer-active) .map-node.item,
.map:not(.item-layer-active) .map-node.chest,
.map:not(.magic-layer-active) .map-node.magic,
.map:not(.ambient-layer-active) .map-node.ambient,
.map:not(.waypoint-layer-active) .map-node.waypoint,
.map:not(.area-layer-active) .map-node.area {
    opacity: 0.25;
    pointer-events: none !important;
}

.map:not(.landmark-layer-active) .map-node.landmark *,
.map:not(.structure-layer-active) .map-node.structure *,
.map:not(.building-layer-active) .map-node.building *,
.map:not(.unit-layer-active) .map-node.unit *,
.map:not(.item-layer-active) .map-node.item *,
.map:not(.item-layer-active) .map-node.chest *,
.map:not(.magic-layer-active) .map-node.magic *,
.map:not(.ambient-layer-active) .map-node.ambient *,
.map:not(.waypoint-layer-active) .map-node.waypoint *,
.map:not(.area-layer-active) .map-node.area * {
    pointer-events: none !important;
}