
.mapBorder {
    position: absolute;

    width: 100%;
    height: 100%;
    left: -2px;
    top: -2px;

    border-width: 2px;
    border-style: ridge groove groove ridge;
    border-color: yellowgreen;

    box-sizing: content-box;
    z-index: 110000;
    pointer-events: none;
}
