
.tab {
    display: flex;
    flex-direction: column;

    padding: 10px 0 5px;
}

.tab .title {
    transform: rotate(180.1deg);
    writing-mode: vertical-lr;
}

.tab .icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;

    margin-top: 2px;
}

.title.flipped {
    transform: rotate(0.1deg);
}
