
.markerMesh {

}

.markerMesh:not(.fallback) {
    position: absolute;
    border-radius: 50%;

    color: black;
    background-color: white;
    border: 2px solid black;
}

.markerMesh.icon {

}

.markerMesh.area {
    --color1: rgba(255, 192, 0, 0.1);
    --color2: rgba(255, 192, 0, 0.1);
    --width: 15px;

    background: repeating-linear-gradient(
            -45deg,
            var(--color1),
            var(--color1) var(--width),
            var(--color2) var(--width),
            var(--color2) calc(var(--width) * 2)
    );

    border: 2px solid orange;
}

.markerMesh.name,
.markerMesh.caption {
    border: none;
    background: none;

    font-weight: 500;
    text-shadow: 0 0 4px white;
}

.markerMesh.name {
    font-size: 16px;

    transform: translate(-50%, -50%);
}

.markerMesh.caption {
    font-size: 12px;

    transform: translate(-50%, calc(-50% + 18px));
}
