
.level-list {
    border-radius: 0;

    padding-bottom: 24px;

    overflow-y: auto;
}

.level-list a {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.level-list .level-header {
    display: flex;
    justify-content: space-between;
}

.level-list a .path {
    color: gray;
    font-size: 12px;
}

.level-list a.active .path {
    color: white;
}

.level-list a.active .modified-mark {
    color: white;
    font-size: 12px;
}