
.node-properties {
    background-color: #eee;
}

.node-properties .panel-header {
    padding: 0 5px;

    background-color: #ddd;

    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}



.property-list {
    overflow-y: auto;

    padding: 10px;
}

.property-list .property {
    display: flex;
}

.property-list .property:hover {
    background-color: #ddd;
}

.property-list .property label {
    display: flex;
    align-items: center;

    flex-grow: 1;

    padding-left: 8px;
    padding-right: 10px;
}

.property-list .property > div {
    display: flex;

    width: 220px;
}

.property-list .property > div > input {
    flex: 1 1 0;

    height: 28px;
    margin: 3px;
}

.property-list .property > div > input[type='checkbox'],
.property-list .property > div > i.icon-button {
    flex: 0 0 20px;

    width: 20px;
    height: 20px;
    margin: 7px;
}

.property-list .property > div > i.icon-button {
    font-size: 20px;
    line-height: 20px;
}

.property-list .property > div > input[readonly] {
    opacity: 0.5;
}

.property-list .property > div > input[data-mode='color'] {
    font-family: monospace;
}