
.workArea {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    flex: 1;

    background-color: #ddd;

    overflow: hidden;
    outline: none;
}
